In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn
pd.set_option('display.max_rows', 200, 'display.max_columns', 200)
pd.options.display.float_format = '{:,.2f}'.format

In [4]:
raw_df = pd.read_csv("data/loan.csv")

C:\Users\tvss9\anaconda3\envs\lending_club_case_study\lib\site-packages\IPython\core\interactiveshell.py:3172: DtypeWarning: Columns (47) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

1. Remove current status loans
2. Drop unnecessary columns not related to the loans
3. Fix Rows and columns. ensure standardized naming.
4. Identify a single unique identifier
5. Identify missing values. 
5a. Ignore columns with majoirty missing value
5b. use missing value replacement techniques
6. Fix invalid values
7. Outlier Treatment
8. Standardize values

In [6]:
raw_df.shape

(39717, 111)

## 1. Check for fixing rows and columns

In [11]:
raw_df.head(5) ## Check for header and footer rows

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [16]:
## check for empty/weird column names
for col in raw_df.columns:
    print(col)

id
member_id
loan_amnt
funded_amnt
funded_amnt_inv
term
int_rate
installment
grade
sub_grade
emp_title
emp_length
home_ownership
annual_inc
verification_status
issue_d
loan_status
pymnt_plan
url
desc
purpose
title
zip_code
addr_state
dti
delinq_2yrs
earliest_cr_line
inq_last_6mths
mths_since_last_delinq
mths_since_last_record
open_acc
pub_rec
revol_bal
revol_util
total_acc
initial_list_status
out_prncp
out_prncp_inv
total_pymnt
total_pymnt_inv
total_rec_prncp
total_rec_int
total_rec_late_fee
recoveries
collection_recovery_fee
last_pymnt_d
last_pymnt_amnt
next_pymnt_d
last_credit_pull_d
collections_12_mths_ex_med
mths_since_last_major_derog
policy_code
application_type
annual_inc_joint
dti_joint
verification_status_joint
acc_now_delinq
tot_coll_amt
tot_cur_bal
open_acc_6m
open_il_6m
open_il_12m
open_il_24m
mths_since_rcnt_il
total_bal_il
il_util
open_rv_12m
open_rv_24m
max_bal_bc
all_util
total_rev_hi_lim
inq_fi
total_cu_tl
inq_last_12m
acc_open_past_24mths
avg_cur_bal
bc_open_to_buy
bc_util
chargeoff_within_12_mths
delinq_amnt
mo_sin_old_il_acct
mo_sin_old_rev_tl_op
mo_sin_rcnt_rev_tl_op
mo_sin_rcnt_tl
mort_acc
mths_since_recent_bc
mths_since_recent_bc_dlq
mths_since_recent_inq
mths_since_recent_revol_delinq
num_accts_ever_120_pd
num_actv_bc_tl
num_actv_rev_tl
num_bc_sats
num_bc_tl
num_il_tl
num_op_rev_tl
num_rev_accts
num_rev_tl_bal_gt_0
num_sats
num_tl_120dpd_2m
num_tl_30dpd
num_tl_90g_dpd_24m
num_tl_op_past_12m
pct_tl_nvr_dlq
percent_bc_gt_75
pub_rec_bankruptcies
tax_liens
tot_hi_cred_lim
total_bal_ex_mort
total_bc_limit
total_il_high_credit_limit

In [ ]:
## Keep one id column out of member id, id
## Drop columns with less variation in its values
## Tackle null values

In [38]:
null_percentage = (raw_df.isnull().sum() / raw_df.shape[0] * 100.00).reset_index()
null_percentage.columns = ['column_name','null_percent']
null_percentage = null_percentage.sort_values('null_percent', ascending=False)
null_percentage

                        column_name  null_percent
55        verification_status_joint        100.00
53                 annual_inc_joint        100.00
81             mo_sin_old_rev_tl_op        100.00
80               mo_sin_old_il_acct        100.00
77                          bc_util        100.00
76                   bc_open_to_buy        100.00
75                      avg_cur_bal        100.00
74             acc_open_past_24mths        100.00
73                     inq_last_12m        100.00
72                      total_cu_tl        100.00
71                           inq_fi        100.00
70                 total_rev_hi_lim        100.00
69                         all_util        100.00
68                       max_bal_bc        100.00
67                      open_rv_24m        100.00
66                      open_rv_12m        100.00
65                          il_util        100.00
64                     total_bal_il        100.00
63               mths_since_rcnt_il        100.00
62                      open_il_24m        100.00
61                      open_il_12m        100.00
60                       open_il_6m        100.00
59                      open_acc_6m        100.00
58                      tot_cur_bal        100.00
57                     tot_coll_amt        100.00
82            mo_sin_rcnt_rev_tl_op        100.00
83                   mo_sin_rcnt_tl        100.00
84                         mort_acc        100.00
97              num_rev_tl_bal_gt_0        100.00
109                  total_bc_limit        100.00
108               total_bal_ex_mort        100.00
107                 tot_hi_cred_lim        100.00
104                percent_bc_gt_75        100.00
103                  pct_tl_nvr_dlq        100.00
102              num_tl_op_past_12m        100.00
101              num_tl_90g_dpd_24m        100.00
100                    num_tl_30dpd        100.00
99                 num_tl_120dpd_2m        100.00
98                         num_sats        100.00
96                    num_rev_accts        100.00
85             mths_since_recent_bc        100.00
95                    num_op_rev_tl        100.00
94                        num_il_tl        100.00
93                        num_bc_tl        100.00
92                      num_bc_sats        100.00
91                  num_actv_rev_tl        100.00
90                   num_actv_bc_tl        100.00
89            num_accts_ever_120_pd        100.00
88   mths_since_recent_revol_delinq        100.00
87            mths_since_recent_inq        100.00
86         mths_since_recent_bc_dlq        100.00
54                        dti_joint        100.00
110      total_il_high_credit_limit        100.00
50      mths_since_last_major_derog        100.00
47                     next_pymnt_d         97.13
29           mths_since_last_record         92.99
28           mths_since_last_delinq         64.66
19                             desc         32.58
10                        emp_title          6.19
11                       emp_length          2.71
105            pub_rec_bankruptcies          1.75
45                     last_pymnt_d          0.18
49       collections_12_mths_ex_med          0.14
78         chargeoff_within_12_mths          0.14
33                       revol_util          0.13
106                       tax_liens          0.10
21                            title          0.03
48               last_credit_pull_d          0.01
17                       pymnt_plan          0.00
18                              url          0.00
16                      loan_status          0.00
20                          purpose          0.00
15                          issue_d          0.00
14              verification_status          0.00
52                 application_type          0.00
13                       annual_inc          0.00
12                   home_ownership          0.00
22                         zip_code          0.00
8                             grade          0.00
7                       installment          0.00
6                          int_rate          0.00
5                              term          0.00
4                   funded_amnt_inv          0.00
3                       funded_amnt          0.00
2                         loan_amnt          0.00
9                         sub_grade          0.00
27                   inq_last_6mths          0.00
23                       addr_state          0.00
24                              dti          0.00
1                         member_id          0.00
56                   acc_now_delinq          0.00
46                  last_pymnt_amnt          0.00
44          collection_recovery_fee          0.00
43                       recoveries          0.00
42               total_rec_late_fee          0.00
41                    total_rec_int          0.00
40                  total_rec_prncp          0.00
39                  total_pymnt_inv          0.00
38                      total_pymnt          0.00
37                    out_prncp_inv          0.00
36                        out_prncp          0.00
35              initial_list_status          0.00
34                        total_acc          0.00
32                        revol_bal          0.00
31                          pub_rec          0.00
30                         open_acc          0.00
79                      delinq_amnt          0.00
51                      policy_code          0.00
26                 earliest_cr_line          0.00
25                      delinq_2yrs          0.00
0                                id          0.00

In [46]:
columns_to_remove = null_percentage[null_percentage.null_percent>=100].column_name.to_list()

In [ ]:
## Member id vs loan id

In [56]:
raw_df.id.nunique(), raw_df.member_id.nunique() # there is unique per row, we can drop either of them

(39717, 39717)

In [57]:
columns_to_remove.append('member_id')

In [58]:
columns_to_remove

['verification_status_joint',
 'annual_inc_joint',
 'mo_sin_old_rev_tl_op',
 'mo_sin_old_il_acct',
 'bc_util',
 'bc_open_to_buy',
 'avg_cur_bal',
 'acc_open_past_24mths',
 'inq_last_12m',
 'total_cu_tl',
 'inq_fi',
 'total_rev_hi_lim',
 'all_util',
 'max_bal_bc',
 'open_rv_24m',
 'open_rv_12m',
 'il_util',
 'total_bal_il',
 'mths_since_rcnt_il',
 'open_il_24m',
 'open_il_12m',
 'open_il_6m',
 'open_acc_6m',
 'tot_cur_bal',
 'tot_coll_amt',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'num_rev_tl_bal_gt_0',
 'total_bc_limit',
 'total_bal_ex_mort',
 'tot_hi_cred_lim',
 'percent_bc_gt_75',
 'pct_tl_nvr_dlq',
 'num_tl_op_past_12m',
 'num_tl_90g_dpd_24m',
 'num_tl_30dpd',
 'num_tl_120dpd_2m',
 'num_sats',
 'num_rev_accts',
 'mths_since_recent_bc',
 'num_op_rev_tl',
 'num_il_tl',
 'num_bc_tl',
 'num_bc_sats',
 'num_actv_rev_tl',
 'num_actv_bc_tl',
 'num_accts_ever_120_pd',
 'mths_since_recent_revol_delinq',
 'mths_since_recent_inq',
 'mths_since_recent_bc_dlq',
 'dti_joint',
 'total_il_high_credit_limit',
 'mths_since_last_major_derog',
 'member_id']

In [59]:
columns_to_keep = [x for x in raw_df.columns if x not in columns_to_remove]

In [60]:
len(raw_df.columns), len(columns_to_keep),len(columns_to_remove)

(111, 56, 55)

In [61]:
non_null_df = raw_df[columns_to_keep]

In [62]:
non_null_df.shape

(39717, 56)

In [63]:
non_null_df.columns

Index(['id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length',
       'home_ownership', 'annual_inc', 'verification_status', 'issue_d',
       'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose', 'title',
       'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record',
       'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'policy_code', 'application_type',
       'acc_now_delinq', 'chargeoff_within_12_mths', 'delinq_amnt',
       'pub_rec_bankruptcies', 'tax_liens'],
      dtype='object')

In [ ]:
# Identify textual columns to split in the above list and split -

In [ ]:
# Identify % of missing values in each column and suggest appropriate solution